fontagon-contents(value)
  content value

@font-face
  font-family "fontagon-icons"
  src url("fontagon-icons.eot?40b9a2a122b523636d275a37c6e9a4ae?#iefix") format("embedded-opentype")
  src url("fontagon-icons.woff2?40b9a2a122b523636d275a37c6e9a4ae") format("woff2")
  src url("fontagon-icons.woff?40b9a2a122b523636d275a37c6e9a4ae") format("woff")

.fontagon-icons, .ft-icons
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  display inline-flex
  align-items center
  justify-content center
  vertical-align middle

.ft-icons
  width 1em
  height 1em
  position relative
  fill currentColor

.fontagon-icons
  font-family 'fontagon-icons'
  font-weight normal
  font-style normal
  display inline-block
  line-height 1
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing antialiased
  /* Support for Safari and Chrome. */
  text-rendering optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing grayscale

  /* Support for IE. */
  font-feature-settings 'liga'


.ft-favicon
  &:before
    fontagon-contents "\f101"
